/* フォントサイズ
--------------------------------------- */
.font-size-S {
  font-size: clamp(1.1rem, calc(0.9rem + 0.625vw), 1.6rem);
}
.font-size-M {
  font-size: clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
}
.font-size-L {
  font-size: clamp(2.4rem, calc(2.2rem + 0.625vw), 2.9rem);
}
.font-size-LL {
  font-size: clamp(2.8rem, calc(2.4rem + 0.825vw), 3.4rem);
}

/* フォントファミリー
------------------------------------- */
/* DM Mono */
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}
.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}
/* Meiryo */
/*
font-family: 
  'メイリオ',
  'Meiryo',
  'MS ゴシック',
  'Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3',
  sans-serif;
*/