@charset "utf-8";

/* test
--------------------------------------- */
.test {
  padding: 6rem;
  height: 80vh;
}

.test * {
  text-wrap: nowrap;
}

/* common
--------------------------------------- */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "DM Mono", "M PLUS 1 Code", "IBM Plex Sans JP", "Zen Maru Gothic", "Kiwi Maru", sans-serif;
  font-style: normal;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body>div {
  flex: 1;
}

/* font */
html {
  height: 100%;
  font-size: 62.5%;
}

p {
  font-size: clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  margin: 1rem 0;
}

.mv-font {
  font-size: clamp(3.0rem, calc(3.0rem + 0.625vw), 3.5rem);
  font-weight: bolder;
  font-style: normal;
}

h1 {
  font-size: clamp(2.4rem, calc(2.2rem + 0.625vw), 3.0rem);
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-size: clamp(1.8rem, calc(1.7rem + 0.625vw), 2.6rem);
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: clamp(1.5rem, calc(1.3rem + 0.625vw), 2.2rem);
  font-weight: 500;
  font-style: normal;
}

.h1-w400 {
  font-size: clamp(2.4rem, calc(2.2rem + 0.625vw), 3.0rem);
  font-weight: 400;
  font-style: normal;
}

.h2-w400 {
  font-size: clamp(1.8rem, calc(1.7rem + 0.625vw), 2.6rem);
  font-weight: 400;
  font-style: normal;
}

.h3-w400 {
  font-size: clamp(1.5rem, calc(1.3rem + 0.625vw), 2.2rem);
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
  font-weight: normal;
  font-style: normal;
}

h5 {
  font-size: clamp(1.1rem, calc(0.8rem + 0.625vw), 1.4rem);
  font-weight: normal;
  font-style: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

/* link */
a {
  font-size: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

/* list */
li {
  list-style: none;
}

/* mv */
main {
  padding-top: clamp(4.5rem, calc(4.2rem + 0.825vh), 4.9rem);
}

/* wrap */
.wrapper {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 clamp(4rem, calc(3.9rem + 0.625vw), 4.2rem);
}

/* block */
.block1 {
  margin: clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem);
}

/* image-block */
.image-block {
  text-align: center;
}

.image-block-item {
  margin-left: calc((((100vw - 100%) / 2) * -1) + clamp(2.4rem, calc(2.3rem + 0.625vw), 3rem));
  margin-right: calc((((100vw - 100%) / 2) * -1) + clamp(2.4rem, calc(2.3rem + 0.625vw), 3rem));
  width: clamp(55rem, 80vw, 85rem);
}

/* etc */
hr {
  border: none;
  border-bottom: 1px solid #000;
  margin: 0;
}

.hide-text {
  color: rgb(143, 143, 143);
}

/* HEADER
--------------------------------------- */
header * {
  white-space: nowrap;
}

header {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
}

header .wrapper {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  height: fit-content;
  padding: 0.8rem clamp(4rem, calc(3.9rem + 0.625vw), 4.2rem);
}

header a:active, header a:hover, header a:visited {
  color: #000;
}

header li a:hover {
  text-decoration: underline;
}

/* menu */
header li {
  margin: 0 0.5rem;
  display: inline-block;
}

/* FOOTER
--------------------------------------- */
footer {
  background-color: whitesmoke;
  width: 100%;
  height: clamp(5rem, calc(4.8rem + 0.825vh), 5.2rem);
  margin-top: auto;
}

/* HOME
--------------------------------------- */
/* common */
#home .main-item:not(#home .main-item:first-child) {
  margin: 2rem auto;
}

#home .block1>.block-header {
  padding-left: 1rem;
}

/* first-view */
.first-view-bg {
  background-image: url(../images/first-view.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: color;
  height: auto;
  background-size: cover;
  background-position: center;
}

.first-view-block * {
  text-align: center;
  margin: 0 auto;
}

.first-view-block {
  padding: 3rem 0;
}

.first-view-block h1 span {
  white-space: nowrap;
  font-weight: 600;
  display: inline-block
}

.first-view-item:not(.first-view-item:first-child) {
  margin-top: 1rem;
}

/* 各スライド */
.grid_slide {
  background-color: #91aab4;
  width: calc(90vmin - 10rem);
  height: calc(54vmin - 6rem);
  min-width: 40rem;
  min-height: 24rem;
}

/* About */
.about .block2>.block-header {
  text-align: left;
  width: fit-content;
  margin: 0 calc(clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem) * 0.5 * -1);
  padding: calc(clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem) * 0.25) calc(clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem) * 0.5);
  border-radius: 0.3rem;
  background-color: rgb(227, 241, 241);
  border: solid 1px #000;
}

.about .block2 {
  margin-top: 3rem;
}

.about .block3 {
  margin-top: 2rem;
}

/* Activity */
.activity .block2 {
  margin: 2.0rem calc(clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem) * -1);
  padding: 0.5rem clamp(1rem, calc(2.4rem + 0.825vw), 5.2rem);
  background-color: rgb(255, 247, 209);
  border-radius: 1rem;
}

.move-activity-page {
  width: fit-content;
  margin: 4vmin auto 5vmin;
}

.move-activity-page a {
  background-color: #636363;
  border-radius: 1rem;
  padding: 1vmin 4vmin;
}

.move-activity-page a:active, .move-activity-page a:visited {
  color: white;
}

.move-activity-page a:hover {
  background-color: #91aab4;
  color: black;
}

/* ACTIVITY
--------------------------------------- */
/* page-description */
#activity .page-header>.block-header {
  text-align: center;
}

/* WORKS
--------------------------------------- */
/* page-description */
#works .page-header>.block-header {
  text-align: center;
}

/* works-list */
.flex-container {
  display: flex;
}

/* card */
.grid_card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5vmin 5vmin;
  margin-top: 2vmin;
}

/* card-item */
.grid_card-item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgb(240, 240, 240);
  padding: 1vmin 3vmin;
}

.grid_card-item div.card-item:not(:first-child) {
  margin-top: 1vmin;
}

.grid_card-item .card-class {
  width: fit-content;
  background-color: rgb(200, 200, 200);
  border-radius: 9999px;
  padding: 0 clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
}

/* card-image */
.grid_card-item .card-image {
  width: 100%;
  padding: 0 10%;
}

/* card-button */
.card-item.card-button a {
  display: block;
  width: 50%;
  margin: 0 auto 1vmin;
  text-align: center;
  background-color: #636363;
  border-radius: 0.5rem;
}

.card-item.card-button a:active
, .card-item.card-button a:visited {
  color: rgb(231, 231, 231);
}

.card-item.card-button a:hover {
  background-color: #91aab4;
  color: black;
}

/* card-genre */
.grid_card-item .flex-container .flex-item:first-child {
  margin-right: 1vmin;
}

.grid_card-item .flex-container .flex-item:not(:first-child) {
  margin-left: 1vmin;
}

/* card-partition */
.grid_card-item .card-button+hr {
  margin-top: auto;
}

@media screen and (min-width:768px) {
  /*　for Pad, PC 　*/
  /* card */
  #works .grid_card{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CONTACT
--------------------------------------- */
/* page-description */
#contact .page-header>.block-header {
  text-align: center;
}

#contact .grid_form {
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 3vmin;
  display: grid;
  grid-template-columns: 12rem auto;
  gap: 2vmin;
}

.grid_form-item+h4 input {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.grid_form-item+h4 select {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.grid_form-item+h4 textarea {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.grid_form-item.form-button {
  grid-column: 1/3;
}

.grid_form-item.form-button h4 {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0 3vmin 0.4rem;
}

@media screen and (min-width:768px) {
  /*　for Pad, PC 　*/
  /* card */
  #contact .grid_form {
    width: 80%;
    grid-template-columns: 15rem auto;
  }
}